<div class="main">
	<h1 class="title">Yawn</h1>
	<p class= "subtitle"><strong>Y</strong>et <strong>A</strong>nother <strong>W</strong>eather <strong>N</strong>ewscast - Web App</p>
	
	<form id="search-form" action='/contacts/:id' method='GET'>
  	<p class="search">
  	<input id="searchbar" type="text" name="searchbar" value="Enter city">
  	<input id="searchbutton" type="submit" value="GO"></p>
  </form>

  <h1 id="cityname" class="title">City Name</h1>
</div>



